<!DOCTYPE html>
<html>
<head><title>Rastreamento de Encomendas</title></head>
<body>
    <h1>Rastrear sua Encomenda</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>{% for message in messages %}<li><strong>{{ message }}</strong></li>{% endfor %}</ul>
      {% endif %}
    {% endwith %}
    <form action="/rastrear" method="post">
        <input type="text" name="codigo" placeholder="Digite o código da sua encomenda" required>
        <button type="submit">Rastrear Encomenda</button>
    </form>
    <br><a href="/operador">Área do Operador</a>
</body>
</html>
